{% extends 'base.html' %}

{% block content %}

<div class="container-fluid d-flex justify-content-center ">
    <img src="../static/images/BarBackGround-adam-wilson.jpg" alt="" class="main-bg">
    <blockquote class="blockquote quote"><i>
        <p>“If you look at history, innovation doesn’t come just from giving people incentives; 
            it comes from creating environments where their ideas can connect.“</p>
        <footer class="blockquote-footer footquote">Steve Johnson </footer>
    </i></blockquote>
</div>

{% endblock %}  